
TetrisApp/.vs/TetrisApp/v15/.suo
*.db
TetrisApp/TetrisApp/Debug/TetrisApp.tlog/CL.command.1.tlog
TetrisApp/.vs/TetrisApp/v15/Browse.VC.opendb
TetrisApp/.vs/TetrisApp/v15/ipch/ad42225e57d09f56.ipch
TetrisApp/TetrisApp/Debug/stdafx.obj
TetrisApp/TetrisApp/Debug/TetrisApp.log
TetrisApp/TetrisApp/Debug/TetrisApp.obj
TetrisApp/TetrisApp/Debug/TetrisApp.pch
TetrisApp/TetrisApp/Debug/TetrisApp.tlog/CL.read.1.tlog
TetrisApp/TetrisApp/Debug/TetrisApp.tlog/CL.write.1.tlog
TetrisApp/TetrisApp/Debug/vc141.pdb
TetrisApp/TetrisApp/Debug/vc141.idb
TetrisApp/TetrisApp/Debug/TetrisApp.tlog/unsuccessfulbuild
TetrisApp/TetrisApp/Debug/TetrisApp.tlog/TetrisApp.lastbuildstate
